body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3bcfc3;
    background-image:url("https://preview.redd.it/hyprland-new-style-for-my-hyprland-config-you-can-change-v0-mtomql49gbsc1.png?width=1080&crop=smart&auto=webp&s=3706aac9d7c3312f68645b9b08cfb2a432c64700") ;
}

.calculator {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(37, 241, 10, 0.404);
    image-rendering: optimizeQuality;
    backdrop-filter: blur(05px);
    position: fixed;
}




.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    transition: background-color 0.3s;
}

.btn:active {
    background-color: #ccc;
}

.operator {
    background-color: #ffab00;
}
.txt {
    color: rgb(188, 195, 231);
    font-style: Sans-Serif;
}
#start-tour {
    background-color: #d4e723;
    font-weight: bold;
    font-style: Sans-Serif;
    font-size: larger;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
